<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LAB Marzo8 — Monte Carlo (π)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Estimación de π (Monte Carlo)</h1>

    <form method="POST">
        <input type="number" name="iteraciones" placeholder="Número de iteraciones" required>
        <button type="submit">Calcular</button>
    </form>

    {% if pi %}
        <h2>Valor aproximado: {{ pi }}</h2>
    {% endif %}
</body>
</html>
